{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    
{% endblock title %}



{% block content %}

<div >
    
    {% if form_type %}
        <h1 class="headline">
        {{form_type}} Registration
        </h1>
    {% endif %}
        
    <div class="form-container" >
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            <div class="container" style="margin: 50px auto;">
                
                {{form|crispy}}
                
            <button type="submit" class="btn btn-black">
                Register
            </button>
            </div>
            

        </form>
    </div>
</div>
    
{% endblock content %}
    
    