{% extends 'home/header.html' %}
{% load static %}


{% block title %}
    
{% endblock title %}




{% block content %}
    <div id="content">
        <div class="container">
            <div class="headline">
                <h1>Congratulations {{request.user.first_name}}</h1>

                <p>You have successfully changed your password</p>

            </div>

            <p>You may go back to your profile page <a class="btn btn-black" href="{% url 'accounts:profile' %}">Here</a></p>
        </div>
    </div>
{% endblock content %}
    