{% extends 'home/header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<head>
   
</head>
<div id="content">
<section id="pass-confirm">
    {% if validlink %}
       

    
    <div class="container">
        <div class="headline">
            <h1 class="center mt-5">Please Confirm Password Reset</h1>
        </div>
        
        {% include 'accounts/forms/base_form.html' %}
    </div>

    {% else %}
    <div class="container">
        <p class="center">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    </div>

    {% endif %}
</section>
</div>


{% endblock %}